<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="PXIconPack by DrDisagree"
        android:supportsRtl="true"
        tools:ignore="MissingApplicationIcon">

        <meta-data
            android:name="packauthor"
            android:value="DrDisagree" /> <!-- Author of the icon pack -->

        <!-- START OF ICON PACKS -->
    <activity android:name="aurora"
        android:label="Aurora"
        android:exported="true">
        <intent-filter>
            <action android:name="it.dhd.oxygencustomizer.iconpack" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity android:name="bars"
        android:label="Bars"
        android:exported="true">
        <intent-filter>
            <action android:name="it.dhd.oxygencustomizer.iconpack" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
<!-- END OF ICON PACKS -->
    </application>
</manifest>